<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>About</title>
</head>

<style>
body
{
padding-top:135px;
background-image: url("images/mecloseup.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
background-size: cover; 
}
</style>

<body>

<div class="w3-container w3-padding-64">
  <div class="w3-row-padding">
    
    <div class="w3-col m6">
    &nbsp;
    </div>
    
    <div class="w3-col m6">
      <div class="card w3-animate-opacity">
  		<img src="images/me.JPG" alt="Avatar" style="width:100%">
  			<!-- <div class="container"> -->
  			<font color="black" size="4">
  			<strong>
    			<h4><b>WECHAT</b></h4> 
    			
    			<br>
    			<h2><u>Dating back from 2010 was when there was a need for collaboration</u></h2>
    			<br><br>
    			<p>In 2017,created a product company called 'WECHAT' aiming to connect developers, graduates, and other clients on a single web-based platform.<font face="stencil" color="black"><u>COLLAB-O'-MATIC</u></font> in 2012.</p>
    			<br><br>
    			<p>The core business is to provide services to Developers, students, job seekers, and many more kind of people. Quality is our middle name and we're determined to fix the issues carried out by traditional outsourcing, and job opportunities, while matching the level of service offered by other collaboration agencies. Our main plan is to provide frictionless communication between clients.</p>
    		</strong>
    		</font> 
  			<!-- </div> -->
	  </div>
    </div>
    
  </div>
</div>
</body>
</html>